<%= simple_form_for @user do |f| %>

<p> 
   <%=f.input :first_name, label: "First Name:" %>
   <%=f.input :last_name, label: "Last Name:" %>
   <%=f.input :mortgage_reference_num, label: "Mortgage Reference #" %>
   <%=f.input  :password, label: "Password"  %>
   <%=f.input  :password_confirmation, label: "Password Confirmation"  %> 
</p>
<%=f.submit  "Create", class:"mybutton" %>

<% end %>
