<%= simple_form_for @income do |f| %>  

<p>
<%= f.input :first_name %> 
    <%= f.input :last_name, label: 'Last Name' %> 
</p>

  <H1>Income</H1>
  <H2>Salary or Wages</h2>
  <p>
    <%= f.input :clients_salary_wages, label: 'Monthly salary or wage, after tax' %>
    <%= f.input :partners_salary_wages, label: 'Partner\'s salary or wage, after tax' %>
    <%= f.input :other_income, label: 'Other income' %>
</p>

  <H2>Other Income</H2>
<p>
    <%= f.input :maintenance_childsupport, label: 'Maintenance or child support' %>
    <%= f.input :boarders_lodgers, label: 'Boarders or Lodgers' %>
    <%= f.input :non_dependant_contributions, label: 'Non dependant contributions' %>
    <%= f.input :student_loans_grants, label: 'Student loans and grants' %>
    <%= f.input :other_other_income, label: 'Other Income' %>
  </p>

  <H2>Benefits</H2> 
<p>
    <%= f.input :jobseekers_allowance_income, label: 'Jobseeker\'s Allowance (Income-based)' %>
    <%= f.input :jobseekers_allowance_contribution, label: 'Jobseeker\'s Allowance (Contribution-based)' %>
    <%= f.input :income_support, label: 'Income Support' %>
    <%= f.input :working_tax_credit, label: 'Working Tax Credit' %>
    <%= f.input :child_tax_credit, label: 'Child Tax Credit' %>
    <%= f.input :child_benefit, label: 'Child Benefit' %>
    <%= f.input :employment_support_allowance_statutory_sickpay, label: 'Employment & Support Allowance / Statutory Sick Pay' %>
    <%= f.input :dla_pip_attendance_allowance, label: 'DLA, PIP or Attendance Allowance' %>
    <%= f.input :carers_allowance, label: 'Carer\'s Allowance' %>
    <%= f.input :housing_benefit_local_housing_allowance, label: 'Housing Benefit / Local Housing Allowance' %>
    <%= f.input :council_tax_reduction, label: 'Council Tax Reduction' %>
    <%= f.input :other_including_universal_credit, label: 'Other (including Universal Credit)' %>
    <%= f.input :other_benefits, label: 'Other benefits' %>
  </p>

  <H2>Pensions</H2>
<p>
    <%= f.input :state_pensions, label: 'State pension(s)' %>
    <%= f.input :private_workpensions, label: 'Private or work pension(s)' %>
    <%= f.input :pension_credit, label: 'Pension Credit' %>
    <%= f.input :other_pension, label: 'Other' %>
  </p>

<h1>Assets and Equity</h1>
  <H2>House or Flat</H2>
<p>
    <%= f.input :total_value_propertyies, label: 'Monthly Total Income' %>
    <%= f.input :mortgage_outstanding, label: 'Mortgage outstanding' %>
    <%= f.input :secured_loans_outstanding, label: 'Secured loan(s) outstanding' %>
</p>

  <H2>Other Assets</H2>  
<p>
    <%= f.input :value_vehicles_less_hpoutstanding, label: 'Value of vehicle(s) (less HP outstanding)' %>
    <%= f.input :savings, label: 'Savings' %>
    <%= f.input :otherassets, label: 'Other assets' %>
  </p>

  <H1>Expenditure</H1>
  <H2>Essential Expenditure</H2>
<p>
    <%= f.input :rent, label: 'Rent' %>
    <%= f.input :ground_rent_service_charges_factor_fees, label: 'Ground rent, service charges, factor fees ' %>
    <%= f.input :mortgage, label: 'Mortgage' %>
    <%= f.input :other_secured_loans, label: 'Other secured loans ' %>
    <%= f.input :mortgage_endowment_mortgage_ppi, label: 'Mortgage Endowment / Mortgage PPI' %>
    <%= f.input :building_and_contents_insurance, label: 'Building and contents insurance' %>
    <%= f.input :pension_and_life_insurance, label: 'Pension and life insurance' %>
    <%= f.input :council_tax_rates_in_ni, label: 'Council Tax (Rates in NI)' %>
    <%= f.input :gas, label: 'Gas' %>
    <%= f.input :electricity, label: 'Electricity' %>
    <%= f.input :water_na_in_scotland_or_ni, label: 'Water (N/A in Scotland or NI)' %>
    <%= f.input :other_utilities_coal_oil_calor_gas, label: 'Other utilities (coal, oil, calor gas)' %>
    <%= f.input :tv_licence, label: 'TV licence' %>
    <%= f.input :magistrates_or_sheriff_court_fines, label: 'Magistrates\' or sheriff court fines' %>
    <%= f.input :maintenance_or_child_support, label: 'Maintenance or child support' %>
    <%= f.input :hire_purchase_conditional_sale, label: 'Hire Purchase / Conditional Sale' %>
    <%= f.input :childcare_costs, label: 'Childcare costs' %>
    <%= f.input :adult_care_costs, label: 'Adult care costs' %>
    <%= f.input :other_essential1, label: 'Other' %>
    <%= f.input :other_essenttial2, label: 'Other' %>
    <%= f.input :other_essential3, label: 'Other' %>
   </p>

  <H2>Phone</H2>
<p>
  <%= f.input :home_phone, label: 'Home phone' %>
    <%= f.input :mobile_phone, label: 'Mobile phone' %>
    <%= f.input :other_phone, label: 'Other phone' %>
  </p>

  <H2>Travel</H2>
<p>
    <%= f.input :monthly_total_phone, label: 'Monthly Total Phone' %>
    <%= f.input :public_transport_work_school_shopping_etc, label: 'Public transport (work, school, shopping etc)' %>
    <%= f.input :other_transport, label: 'Other (e.g. taxis)' %>
    <%= f.input :car_insurance, label: 'Car insurance' %>
    <%= f.input :vehicle_tax, label: 'Vehicle Tax' %>
    <%= f.input :fuel_petrol_diesel_oil_etc, label: 'Fuel (Petrol, Diesel, Oil etc)' %>
    <%= f.input :mot_and_car_maintenance, label: 'MOT and car maintenance' %>
    <%= f.input :breakdown_or_recovery, label: 'Breakdown or recovery' %>
    <%= f.input :parking_charges_or_tolls, label: 'Parking charges or tolls' %>
    <%= f.input :other_car_costs, label: 'Other car costs' %>
</p>

  <H2>House Keeping</H2>
<p>
    <%= f.input :food_and_milk, label: 'Food and milk' %>
    <%= f.input :cleaning_and_toiletries, label: 'Cleaning and toiletries' %>
    <%= f.input :newspapers_and_magazines, label: 'Newspapers and magazines' %>
    <%= f.input :cigarettes_tobacco_sweets, label: 'Cigarettes, tobacco & sweets' %>
    <%= f.input :alcohol, label: 'Alcohol' %>
    <%= f.input :laundry_and_dry_cleaning, label: 'Laundry and dry cleaning' %>
    <%= f.input :clothing_and_footwear, label: 'Clothing and footwear' %>
    <%= f.input :nappies_and_baby_items, label: 'Nappies and baby items' %>
    <%= f.input :pet_food, label: 'Pet food' %>
    <%= f.input :other_housekeeping, label: 'Other housekeeping' %>
</p>

  <H2>Other Expenditure</H2>
<p>
    <%= f.input :health_dentist_glasses_prescriptions_health_ins, label: 'Health (dentist, glasses, prescriptions, health ins)' %>
    <%= f.input :repairs_house_maint_incl_window_cleaning_maint_contracts, label: 'Repairs / house maint (incl window cleaning, maint contracts)' %>
    <%= f.input :hairdressing_haircuts, label: 'Hairdressing / haircuts' %>
    <%= f.input :cable_satellite_and_internet, label: 'Cable, Satellite and Internet ' %>
    <%= f.input :tv_video_and_other_appliance_rental, label: 'TV, video and other appliance rental' %>
    <%= f.input :school_meals_and_meals_at_work, label: 'School meals and meals at work' %>
    <%= f.input :pocket_money_and_school_trips, label: 'Pocket money and school trips' %>
    <%= f.input :lottery_and_pools_etc, label: 'Lottery and pools etc' %>
    <%= f.input :hobbies_leisure_sport_incl_puboutings_gym_etc, label: 'Hobbies, leisure, sport including pub outings, gym etc)' %>
    <%= f.input :gifts_christmas_birthdays_charity_etc, label: 'Gifts (Christmas, birthdays, charity etc)' %>
    <%= f.input :vet_bills_and_pet_insurance, label: 'Vet bills and pet insurance' %>
    <%= f.input :other_expenditure1, label: 'Other (e.g. postage)' %>
    <%= f.input :other_expenditure2, label: 'Other (e.g. holidays)' %>
</p>

<%= f.button :submit, "Save and Proceed", label_html: { class: 'mybutton' }, class:"mybutton" %>
<% end %>
<p>You will have a chance to review your form before you submit it.  Once you click Save, you can come back and complete the rest of the form at a later date</p>